.stackelement, [id^="input"], #ExportImport, #output {
    width: calc(100% - 12px);
    margin: 5px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    padding: 2px;
    margin: 0;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #a8a8a8;
}

input[type="radio"]:checked + label {
    background-color: #a8a8a8;
}

input[type="radio"] + label + div {
    display: none;
}

input[type="radio"]:checked + label + div {
    display: grid;
    grid-template-columns: repeat(8, minmax(25px, auto));
    grid-template-rows: repeat(6, minmax(25px, auto));
    gap: 0px;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

input[type="radio"]:checked + label + div > div[class="btn"] {
    border: 1px solid #a8a8a8;
}

input[type="radio"]:checked + label + div > div {
    border: dotted 1px black;
}

button, .btn {
    -webkit-appearance: none;
    padding: 2px;
    white-space: nowrap;
    background-color: #ffffff;
    border: 1px solid #a8a8a8;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    background-color: #a8a8a8;
    transition-duration: 250ms;
}

.mathbtn {
    pointer-events:none;
}

#keypad {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
}