body {
  margin: 0;
}

#menuToggle * a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

a:hover {
  color: #d4d4d477;
}

#menuToggle {
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  width: 0;
  overflow: visible;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -5px;
  left: -5px;
  margin: 5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 22px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #9e9e9e;
  border-radius: 2px;
  
  z-index: 2;
  
  transform-origin: 2px 2px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 2px calc(100% - 2px);
  margin-bottom: 0;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) scale(1.4142135623730950488016887242097,1);
  background: #ffffff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) scale(1.4142135623730950488016887242097,1);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  top: 0;
  margin: -5px 0 0 -5px;
  padding: 5px 10px 10px 35px;
/*   padding-bottom: 10px;
  padding-top: 40px; */
  background-color: #b1b1b1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

@supports (backdrop-filter: blur(5px)) {
  #menu {
    background-color: #b1b1b188;
    backdrop-filter: blur(5px);
  }
}

@supports (-webkit-backdrop-filter: blur(5px)) {
  #menu {
    background-color: #b1b1b188;
    background-color: hsla(177, 177, 177, 0.603);
    -webkit-backdrop-filter: blur(5px);
  }
}

#menu li {
  padding: 0 0 5px 0;
  font-size: 22px;
}

#menu :last-child {
  padding: 0;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* .back {
  filter: blur(5px);
  z-index: -1;
} */

/* .katex-display > .katex {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  overflow-x: auto;
  text-align: initial;
} */
#output * .katex {
  display: block;
  white-space: nowrap;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /* text-align: initial; */

  /* font: normal 1.21em KaTeX_Main, Times New Roman, serif; */
  /* line-height: 1.2; */
  /* white-space: normal; */
  /* text-indent: 0; */
}

/* [id^="collapsible"] + label div {
  user-select: none;
  cursor: pointer;
} */

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.ncopy *{
  /* pointer-events: none; */
  user-select: none !important;
  /* cursor: pointer; */
}

/* [id^="collapsible"] + label div .katex {
  display: inherit;
  white-space: inherit;
  max-width: inherit;
  overflow-x: inherit;
  overflow-y: inherit;
} */

[id^="__Subcalculation_"],                        /* HIDE CHECKBOX */
[id^="__Subcalculation_"] ~ .content,                /* HIDE LIST */
[id^="__Subcalculation_"] + label  div + div,   /* HIDE "Collapse" */
[id^="__Subcalculation_"]:checked + label div {   /* HIDE "Expand" (IF CHECKED) */
  display:none;
  white-space: nowrap;
}
[id^="__Subcalculation_"]:checked + label div + div {
  display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="__Subcalculation_"]:checked ~ .content {
  display:block;                        /* SHOW LIST (IF CHECKED) */
}
.content {
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px
}